<template>
  <div class="home">
    <h2 ref="appTitleRef">{{appTitle}}</h2>
    <h3>{{ store.title}}:</h3>
    <div>
      <button class="btn" @click="store.decrement(1)">--</button>
      <button class="btn" @click="store.decrement(2)">-</button>
      <span class="counter">{{ store.count}}</span>
      <button class="btn" @click="store.increase(1, $event)">+</button>
      <button class="btn" @click="store.increase(2)">++</button>

    </div>

    <p>This counter is {{ store.oddEven }}</p>

    <div class="edit">
      <h4>Edit counter title:</h4>
      <input type="text" v-model="store.title" v-autofocus/>
    </div>
  </div>
</template>

<script setup>
  // OR Script Setup pattern (which is better)
  import {
    onMounted,
    onBeforeUnmount,
    onUnmounted,
    onBeforeMount,
    onActivated,
    onDeactivated,
    onBeforeUpdate,
    onUpdated,
    ref,
  } from "vue";

  import {useCounterStore} from "@/stores/counter";

  import {vAutofocus} from "@/directives/vAutofocus";
  // import {useCounter}  from "@/use/useCounter"
  const appTitle = 'My Counter app';
  const appTitleRef = ref(null);

  // const {increase, decrement, counterData, oddEven } = useCounter();

  const store = useCounterStore();

  onMounted(()=>{
    console.log('do some stuffs wrt to title')
    console.log(appTitleRef.value.offsetWidth);
  })


  onBeforeUpdate(() => {
    console.log ('onBeforeUpdate')
  })
  onUpdated(() =>{
    console.log ('onUpdated')
  })
  onBeforeMount( () => {
    console.log('onBeforeMount')
  })
  onMounted( () => {
    console.log('onMounted')
  })
  onBeforeUnmount(() => {
    console.log('onBeforeUnmount')
  })
  onUnmounted(() => {
    console.log('onUnmounted')
  })
  onActivated(() => {
    console.log('onActivated')
  })
  onDeactivated(() => {
    console.log('onDeactivated')
  })

</script>

<style>
.home {
  text-align: center;
  padding: 20px;
}
.btn, .counter {
  font-size: 40px;
  margin: 10px;
}
.edit {
  margin-top: 60px;
}
</style>
