<template>
  <div class="modals">
    <h1>Modals</h1>
    <div>
      <label>
        Show dark modals?
        <input
            v-model="showDarkModal"
            type="checkbox" />
      </label>
    </div>
    <button @click="showModal = true">Show modal</button>
  </div>
  <component v-model="showModal"
            :is="showDarkModal? ModalDark: Modal"
            secondTitle = "My modal second title"
            @hideModal="showModal=false">
          <template v-slot:title>My new Title</template>
          <p> blablabla </p>
  </component>
</template>


<script setup>
import Modal from '@/components/Modal.vue'
import ModalDark from '@/components/ModalDark.vue'

import {ref} from 'vue'

let showModal = ref(false)
const showDarkModal = ref(false)
</script>
