<template>
  <div class="posts-detail">
    <h1>This is a post page</h1>
    <p>Display the content of post with ID of {{$route.params.id}} here!</p>
    <p><RouterLink to="/posts">&lt; Back</RouterLink></p>
    <div>
      <button @click="showId">Show ID</button>
    </div>
    <div>
      <button @click="goHome(2)">Go home in 2 seconds</button>
    </div>
    <div>
      <button @click="goFirst">Go To first post</button>
    </div>
  </div>
</template>


<script setup>
import {useRoute, useRouter} from 'vue-router'

const route = useRoute()
const router = useRouter()

const showId = () => {
  alert(`The Id is : ${route.params.id}`)
}

const goHome = (sec) => {
  setTimeout(() =>{ router.push('/') }, sec * 1000)
}

const goFirst = () => {
  router.push({
    name: 'postDetail',
    params: {
      id: 'id1'
    }
  })
}
</script>
