<template>
  <teleport to=".modals-container">
    <div class="modal-dark" v-if="modelValue">
      <h1><slot name="title"/></h1>
      <h2>{{props.secondTitle}}</h2>

      <slot/>
      <button @click="$emit('hideModal')">Hide modal</button>
      <button @click="handleButtonClick">Hide modal 2</button>
      <button @click="handleButtonClick2">Hide modal 3</button>
      <button @click="$emit('update:modelValue', false)">Hide modal 4</button>
      <div>
        User name is {{userData.username}}
      </div>
    </div>
  </teleport>
</template>

<script setup>
import {inject, useSlots} from 'vue'
const slots = useSlots()
console.log(slots.title)

const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false
  },
  secondTitle: {
    type: String,
    default: 'Default title'
  }
})

const emit = defineEmits(['update:modelValue', 'hideModal'])

const handleButtonClick = () =>{
  emit('hideModal')
}

const handleButtonClick2 = () =>{
  emit('update:modelValue', false)
}
const userData = inject('userData')

</script>

<style>
.modal-dark {
  background: #333;
  color: white;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

</style>
